workspace-7bcaf7ff-2a7d-4a41-a58b-b4958275a943.json
[
    {
        "id": "3534d239.8092fe",
        "type": "watson-conversation-v1",
        "z": "951e562d.ecbc08",
        "name": "STSA-CONV",
        "workspaceid": "7bcaf7ff-2a7d-4a41-a58b-b4958275a943",
        "multiuser": false,
        "context": true,
        "default-endpoint": false,
        "service-endpoint": "",
        "x": 684.5,
        "y": 201,
        "wires": [
            [
                "e279e596.8fd1d8",
                "b79c078a.d410b8"
            ]
        ]
    },
    {
        "id": "70f20c17.edfbf4",
        "type": "http in",
        "z": "951e562d.ecbc08",
        "name": "conv-api",
        "url": "/v1/workspaces/voiceproxy/message",
        "method": "post",
        "swaggerDoc": "",
        "x": 230.5,
        "y": 200,
        "wires": [
            [
                "e27d625c.ccc1d",
                "b79c078a.d410b8"
            ]
        ]
    },
    {
        "id": "821bdeb0.84041",
        "type": "http response",
        "z": "951e562d.ecbc08",
        "name": "",
        "x": 1305.5,
        "y": 555,
        "wires": []
    },
    {
        "id": "e27d625c.ccc1d",
        "type": "function",
        "z": "951e562d.ecbc08",
        "name": "conv-format",
        "func": "if(msg.payload.input){\n    if(msg.payload.input.text){\n        msg.payload = msg.payload.input.text;\n        \n    }else{\n        msg.payload = \"Hi\";\n    }\n}\nelse{\n    msg.payload = \"Hi\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450.5,
        "y": 201,
        "wires": [
            [
                "3534d239.8092fe"
            ]
        ]
    },
    {
        "id": "9f031983.1b80c8",
        "type": "switch",
        "z": "951e562d.ecbc08",
        "name": "Conversation Actions",
        "property": "convdata.output.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CurrentTempCelsius",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CurrentTempFahrenheit",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "changeColor",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 273.5,
        "y": 423,
        "wires": [
            [
                "efbda278.0a1da"
            ],
            [
                "5c766697.31c578"
            ],
            [
                "167ebacb.2cdb65",
                "821bdeb0.84041"
            ],
            [
                "821bdeb0.84041"
            ]
        ]
    },
    {
        "id": "2e62b92a.2715c6",
        "type": "function",
        "z": "951e562d.ecbc08",
        "name": "CurrentTempCelsius",
        "func": "txt = msg.convdata.output.text[0];\ntemp = msg.payload.TEMPERATURE;\nmsg.payload = msg.convdata;\nmsg.payload.output.text[0] =  txt + \" \" + temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 897.5,
        "y": 341,
        "wires": [
            [
                "821bdeb0.84041"
            ]
        ]
    },
    {
        "id": "dc35bea5.247d4",
        "type": "function",
        "z": "951e562d.ecbc08",
        "name": "CurrentTempFahrenheit",
        "func": "txt = msg.convdata.output.text[0];\ntemp = msg.payload.TEMPERATURE;\ntempf = ((parseInt(temp, 10)*9)/5)+32;\nmsg.payload = msg.convdata;\nmsg.payload.output.text[0] =  txt + \" \" + tempf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910.5,
        "y": 384,
        "wires": [
            [
                "821bdeb0.84041"
            ]
        ]
    },
    {
        "id": "efbda278.0a1da",
        "type": "dashDB in",
        "z": "951e562d.ecbc08",
        "dashDB": "9daa45bb.2be6c8",
        "service": "_ext_",
        "query": "SELECT temperature, timesent FROM sensedata order by timesent desc fetch first 1 row only;",
        "params": "",
        "name": "Current Temp",
        "x": 650.5,
        "y": 340,
        "wires": [
            [
                "2e62b92a.2715c6"
            ]
        ]
    },
    {
        "id": "e279e596.8fd1d8",
        "type": "function",
        "z": "951e562d.ecbc08",
        "name": "after_WCS",
        "func": "conv_data = {};\nconv_data = msg.payload;\nmsg.convdata = conv_data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 894.5,
        "y": 201,
        "wires": [
            [
                "9f031983.1b80c8"
            ]
        ]
    },
    {
        "id": "5c766697.31c578",
        "type": "dashDB in",
        "z": "951e562d.ecbc08",
        "dashDB": "9daa45bb.2be6c8",
        "service": "_ext_",
        "query": "SELECT temperature, timesent FROM sensedata order by timesent desc fetch first 1 row only;",
        "params": "",
        "name": "Current Temp",
        "x": 650.5,
        "y": 385,
        "wires": [
            [
                "dc35bea5.247d4"
            ]
        ]
    },
    {
        "id": "167ebacb.2cdb65",
        "type": "function",
        "z": "951e562d.ecbc08",
        "name": "ChangeIoTColor",
        "func": "if(msg.payload.entities){\n    color = msg.payload.entities[0].value;\n}else{\n    color = msg.payload;\n}\n\nmsg.payload={d:{color:'blue',background: color ,message:' '}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650.5,
        "y": 431.75,
        "wires": [
            [
                "82cb3a0b.ed8f28"
            ]
        ]
    },
    {
        "id": "82cb3a0b.ed8f28",
        "type": "ibmiot out",
        "z": "951e562d.ecbc08",
        "authentication": "apiKey",
        "apiKey": "8a8775f1.72ea58",
        "outputType": "cmd",
        "deviceId": "JeffSenseHat-001",
        "deviceType": "PiGateway",
        "eventCommandType": "message",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IOT : ColorChange",
        "service": "registered",
        "x": 896,
        "y": 433,
        "wires": []
    },
    {
        "id": "5e7dd002.5e0d4",
        "type": "comment",
        "z": "951e562d.ecbc08",
        "name": "API endpoint for WCS",
        "info": "",
        "x": 268.5,
        "y": 107.75,
        "wires": []
    },
    {
        "id": "b79c078a.d410b8",
        "type": "debug",
        "z": "951e562d.ecbc08",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 950.5,
        "y": 45,
        "wires": []
    },
    {
        "id": "9daa45bb.2be6c8",
        "type": "dashDB",
        "z": "",
        "hostname": "dashdb-entry-yp-dal09-08.services.dal.bluemix.net",
        "db": "BLUDB",
        "port": "50000",
        "name": "DashDB-STSA"
    },
    {
        "id": "8a8775f1.72ea58",
        "type": "ibmiot",
        "z": "",
        "name": "BlueMix",
        "keepalive": "60",
        "domain": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    }
]